<html xmlns:th="http://www.thymeleaft.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/estilos.css}"/>
        <link rel="stylesheet" th:href="@{/css/menu.css}" />
    </head>
    <body>

        <header th:replace="layout/plantilla :: header"/><!-- venimos de plantilla y por eso hay que poner layout porque es el folder  -->

        <div class="contenido">
            <h2 th:text="#{index.titulo}">Nuestros Articulos</h2>
            <div th:if="${articulos != null and !articulos.empty}"> <!-- "articulos" es la lista -->
                <table border="1">
                    <thead>
                    <thead id="encabezadoTabla">
                        <tr>
                            <th th:text="#{articulo.descripcion}">Descripcion</th> <!-- th son como los titulos que estan en las tablas  -->
                            <th th:text="#{articulo.precio}">Precio</th>
                            <th th:text="#{articulo.comprar}">xxxx</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${articulos}"> 
                            <td th:text="${item.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(item.precio, 3,2)}"></td>
                            <td><a th:href="@{/carrito/agregar/} + ${item.idArticulo}"
                                   th:text="#{accion.agregar}">Comprar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}">
                <p th:text="#{articulo.no_mostrar}"></p>
            </div>
        </div>

        <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>
